<h2>Edit <%= @landmark.name%> </h2>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <p><label>Name <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></label></p>
  <p><label>Year Completed <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></label></p>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" name="submit" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
