<h1>Edit A Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Name:</h2>
  <label for="name">
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>" >
  <h2>Year Completed:</h2>
  <label for="year_completed">
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>" >

  <br></br>
  <input type="submit" value="Edit Landmark">
</form>
