<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <form method="POST" action="/landmarks/<%=@landmark.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
    <h1>Edit Landmark</h1>
    <lable>Name:<%=@landmark.name%></lable><br>
    <lable>Change Name:</lable>
    <input type="text" name="landmark[name]" id="name">
    <lable> Year Completed: <%=@landmark.year_completed%></lable>
    <lable> Change Year:</lable>
    <input <input type="text" name="landmark[year_completed]" id="year_completed">
    <input type="submit" value="Edit Landmark">
  </form>
  </body>

</html>
