<h2>Edit Historical Landmark</h2>

<form method="post" action="/landmarks/<%= @landmark.id %>">
<input type="hidden" name="_method" value="PATCH">

  <label>Edit Landmark</lable></br>
<label>Name:</lable>
      <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></br>
    <label>Year Completed</lable>
      <input type="integer" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></br>
    <input type="submit" value="Edit Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
