<h1>Edit Historical Landmark</h1>

<h2><%=@landmark.name%></h2>
<h3><%=@landmark.year_completed.to_s%></h3>

<form method="POST" action="/landmarks/<%=@landmark.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Edit Landmark:</h2>
  <label>Name<input type="text" name="landmark[name]" id="name"></label>
  <label>Year<input type="text" name="landmark[year_completed]" id="year_completed"></label>
  <input type="submit" value="Edit Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
