<h2>Edit Historical Landmark</h2>

<form method="post" action="/landmarks/<%= @landmark.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <p>Name: <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">

    <p>Year Completed: <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"></p>
    
    <input type="submit" value="Edit Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
