<h2>Edit Historical <%=@landmark.name %></h2>

<form action="/landmarks/<%= @landmark.slug %>" method="post">
    <input input="hidden" type="hidden" name="_method" value="patch"></input>

    <label for="name">Landmark Name: </label>
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>">

    <label for="name">Year Completed: </label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed %>">

    <input type="submit" name="Edit" id="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
