<h1>Update Landmark</h1>

<form class="" action="/landmarks/<%=@landmark.id%>" method="post">
  <label>Name:</label>
  <br><br>
  <input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name">
  <br><br>
  <label>Year Completed:</label>
  <br><br>
  <input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" id="year_completed">
  <br><br>
  <input type="submit" name="" value="Edit Landmark">
</form>