<h1>Edit <%= @landmark.name %>, completed in <%= @landmark.year_completed %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<h2>Enter the name:</h2>

Name <input type="text" name="landmark[name]" id="name"><br>

Year Completed <input type="text" name="landmark[year_completed]" id="year_completed"><br>

<input type="submit" value="Edit Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>