
<h1>Edit Landmark</h1>
<%= @landmark.name %>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

    <h4>Edit Landmark:</h4>
    Name: <input type="text" id="name" name="landmark[name]">
    Year: <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed.to_s%>">

    <input type="submit" value="Edit Landmark">
  </form>
