


<h1>Edit: <%=@landmark.name%></h1>

<form method="POST" action="/landmarks/<%= @landmark.id %>">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  
  <br>
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br>
  
  <label>Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>

  <br>
  <input type="submit" value="Edit Landmark">
    
</form>




    expect(last_response.body).to include('landmark[name]')
    expect(last_response.body).to include('landmark[year_completed]')
    expect(last_response.body).to include(@landmark.name)
    expect(last_response.body).to include(@landmark.year_completed.to_s)


  it "allows you to edit a single landmark" do
    @original_landmark = Landmark.first

    visit "/landmarks/#{@original_landmark.id}/edit"
    fill_in :name, with: "BQE!!!!"
    fill_in :year_completed, with: 9999


    expect(page.body).to include("BQE!!!!")
    expect(page.body).to include("9999")

    @updated_landmark = Landmark.first
    expect(page.current_path).to eq("/landmarks/#{@original_landmark.id}")
    expect(@updated_landmark.name).to eq("BQE!!!!")
    expect(@updated_landmark.year_completed.to_s).to eq("9999")
  end