<h1>Edit <%= @landmark.name %></h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH" />
  <p>
    <label for="name">Name: </label>
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>" />
  </p>
  <p>
    <label for="year_completed">Year Completed: </label>
    <input type="number" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" />
  </p>
  <br>
  <button type='submit'>Edit Landmark</button>
</form>