<h1>Edit A Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Name:</h2>
  <label for="landmark_name">
  <input type="text" name="landmark[name]" id="landmark_name" value="<%= @landmark.name %>" >
  <h2>Year Completed:</h2>
  <label for="landmark_year">
  <input type="text" name="landmark[year_completed]" id="landmark_year" value="<%= @landmark.year_completed %>" >

  <br></br>
  <input type="submit" value="Save">
</form>
