<h2>Edit Historical Landmark</h2>
<form method="post" action="/landmarks/<%= @landmark.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <br></br>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></input>
  <br></br>
  <label>Enter the year Landmark was Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></input>
  <br></br>
  <label>Click here to Update Landmark:</label>
  <input type="submit" value="Edit Landmark" name="Update Landmark">
</form>


<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
