<h2>Edit Historical Landmark</h2>

<form method="post" action="/landmarks/<%= @landmark.id %>">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="landmark[name]" id="name" placeholder="<%= @landmark.name %>">
  <br>
  <input type="text" name="landmark[year_completed]" id="year_completed" placeholder="<%= @landmark.year_completed %>">
  <br>
  <input type="text" name="landmark[figure]" id="new_figure" placeholder="Figure Name">
  <br>
  <input type="submit" name="Edit Landmark" id="Edit Landmark">
</form>
<br>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
