<h2>Edit Historical Landmark</h2>
<h3>Current Landmark Name</h3>
<p><%=@landmark.name%></p>
<h3>Current Landmark Year</h3>
<p><%=@landmark.year_completed%></p>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
  <label for="name"> landmark Name </label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"> </br>

  <label>Year:</label><input type="text" name="landmark[year_completed]" id="year_completed"> </br>
  
  <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
