<h1>Edit Landmark</h1>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
<input name="_method" type="hidden" value="patch" />
  <label>Name</label>
    <br></br>
      <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></input>

    <br></br>

    <label>Year</label>
    <br></br>
      <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></input>

    <br></br>

    <br></br>
      <input type="submit" value="Edit Landmark">

</form>
