<%= @landmark.name %>, <%= @landmark.year_completed %>

<form method="post" action="/landmarks/<%= @landmark.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Landmark Name: <input type="text" name="landmark[name]" id="name">
  Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed">
  <input type="submit" id="Edit Landmark">
</form>
