<h1>Update a Landmark</h1>
 
<form action="/landmarks/<%=@landmark.id%>" method="POST">
    <input id ="hidden" type= "hidden" name = "_method" value= "patch">
    <label>Name:</label>
    <input  type="text" id="name" value="<%=@landmark.name%>" name="landmark[name]"></input>
    <label>Year:</label>
    <input  type="text" id="year_completed" value="<%=@landmark.year_completed%>"name="landmark[year_completed]"></input>
  <br></br>
  
  <input type="submit" value="Edit Landmark">
  
</form>

