<h1>Edit Landmark: <%=@landmark.name%></h1>

<form action="/landmarks/<%=@landmark.id%>/edit" method="post">
  <p>New Name: <input type="text" name="landmark[name]" id="name"></p>
  <p>Current Year Completed: <%=@landmark.year_completed%></p>
  <p>New Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed"></p>
  <input type="submit" name="submit" value="Edit Landmark">
</form>
