<form method="POST" action="/landmarks/<%=@landmark.id%>">
  
  <input type="hidden" name="_method" value="PATCH">
  
   <p>Name: <input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name"></p>
  
  <p>Year Completed: <input type="text" value="<%=@landmark.year_completed%>" name="landmark[year_completed]" id="year_completed"></p>
  
  <input type="submit" value="Edit Landmark">
</form>