<h1>Edit: <%= @landmark.name %></h1>

<h3>Fill in corrected information in boxes below and click 'Edit Landmark'</h3>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label>Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name%>"><br>
  <br>
  <label>Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"><br>
<br>
<input type="submit" value="Edit Landmark">
</form>
