<h2>Edit <%=@landmark.id%></h2>

<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="landmark[name]">Name:</label>
  <input id="name" type="text" name="landmark[name]" value="<%=@landmark.name%>">
  <label for="landmark[year_completed]">Year:</label>
  <input id="year_completed" type="integer" name="landmark[year_completed]" value="<%=@landmark.year_completed%>">

  <input type="submit" name="Edit Landmark" value="Edit Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
