<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @landmark.name %></title>
  </head>
  <body>

    <h1>Edit landmark</h1>
    <form action="/landmarks/<%= @landmark.id %>" method="post">
    <h4>Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></h4>
    <h4>Year Completed:
      <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
    </h4>
    <input type="submit" value="Edit Landmark">
    </form>
  </body>
</html>
