<h1>Edit a new Landmark:</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <h2>Name</h2>
  <input id="name" type="text" name="landmark[name]" value=<%=@landmark.name%> ><br>
  <br></br>
  <h2>Year Completed</h2>
  <input id="year_completed" type="text" name="landmark[year_completed]" value=<%=@landmark.year_completed%>><br>

  <input type="submit" value="Edit Landmark">
</form>
