<form action="/landmarks/<%= @landmark.id %>" method="post">
  <h1>Edit Landmark</h1>
  <label for="landmark_name">Landmark Name:</label><br>
  <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>" required><br>

  <label for="landmark_year_completed">Landmark Year Completed:</label><br>
  <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"><br>

  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Edit Landmark">
</form>