<h2>All Historical Landmarks</h2>

<ol>
<% @landmarks.each do |x| %>
<li><a href="/landmarks/<%=x.id%>"><%= x.name %> <%= x.year_completed %></a></li>
<% end %>
</ol>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
