<h1>List of Landmarks</h1>

<% @landmarks.each do |landmark|%>
  Landmark Name: <a href="/landmarks/<%= landmark.name %>"><%= landmark.name %></a><br>
  Landmark Year: <a href="/landmarks/<%= landmark.year_completed %>"><%= landmark.year_completed %></a><br>
<% end %>
