<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% @landmarks.each do |landmark|%>
<%= @landmark = landmark %>
<li><%= @landmark.name %></li>
<li><%= @landmark.year_completed %></li> <!-- 1969 was expected so it can be assumed -->
<%end%>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
