<h2>All Historical Landmarks</h2>

<ol>
    <% @landmarks.all.each do |landmark| %>
        <li><a href='/landmarks/<%=landmark.name %>'><%= landmark.name %></a></li>
    <% end %>
</ol>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
