<h1>It's Some Landmarks, Y'all</h1>

<ul>
  <% @landmarks.all.each do |landmark| %>
    <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>, created in <%= landmark.year_completed %></li>
  <% end %>
</ul>
