<h2>All Historical Landmarks</h2>

<%Landmark.all.each do |landmark|%>
  <%=landmark.name%>, created <%=landmark.year_completed%><br>

<%end%>



<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
