<h2>All Historical Landmarks</h2>

<p>
  <ul>
    <% @landmarks.sort_by{ |l| l.name }.each do |landmark| %>
      <li>
        <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>, built in <%= landmark.year_completed %>
      </li>
    <% end %>
  </ul>
</p>

<a class="button" href="/landmarks/new">New Landmark</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
