<h2>All Historical Landmarks</h2>

  <%@landmarks.each do |landmark|%>
    <ul>
     <li>Name: <%=landmark.name%><li>
     <li>Year Completed: <%=landmark.year_completed%><li><br>
    </ul>
     <a href="/landmarks/<%=landmark.id%>"> Landmark Page </a>

  <%end%>



<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
