<h1>Landmark Index Page</h1>
<h3>-select a landmark to learn more-</h3>

<% @landmarks.each do |landmark| %>
  <a href="/landmarks/<%=landmark.id%>"> <%= landmark.name %> </a>, completed in <%= landmark.year_completed %>
  <br></br>
<% end %>

<h3>-or click <a href="landmarks/new">here</a> to create a new landmark-</h3>
