<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% Landmark.all.each do |landmark| %>
  <%= landmark.id %>. Name: <%= landmark.name %> Year Completed: <%= landmark.year_completed %><br>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
