<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
  <ul>
    <li>Landmark Name: <%= landmark.name %> Year completed: <%=landmark.year_completed %></li>
  </ul>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
