<h2>All Historical Landmarks</h2>

<ul>
<% @all_landmarks.each do |lm| %>
   <li> <%=lm.name%>,
    <%=lm.year_completed%> </li>
    <%end%>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
