<h2>All Historical Landmarks</h2>

<!-- add content here -->

<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <% @landmarks.each do |landmark| %>
  <tr>
    <td><a href="/landmarks/<%= landmark.id %>/edit">
      <div class="">
        <%= landmark.name %>
      </div>
      </a></td>
      <td><%= landmark.year_completed %></td>
  </tr>
  <% end %>
</table><br><br>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
