<h2>All Historical Landmarks</h2>

<%Landmark.all.each do |landmark| %>
  <h1><%=landmark.name%></h1>
  <h2><%=landmark.year_completed%></h2>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
