<h2>All Historical Landmarks</h2>

<ul>
  <% Landmark.all.each do |land| %>
    <li>
      <a href="/landmarks/<%=land.id%>"><%=land.year_completed%>: <%= land.name %></a>
    </li>
  <%end%>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
