<!DOCTYPE html>
<html>
  <head>
    <h1> Welcome to NYC Landmarks </h1>
      <body>
        <label> <h1>Landmarks: </h1> </label>
          <%Landmark.all.each do|landmark|%>
          <h3> <li> <a href="/landmarks/<%=landmark.id%>"> <%=landmark_name%> - <%=landmark.year_completed%></a></li></h3>
          <% end %>
          <br> </br>
      </body>

</html>
