<h2>All Historical Landmarks</h2>

<%@landmarks.each do |landmark|%>
  <a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a><br>
<%end%>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
