<h1>Landmarks: </h1>
<%Landmark.all.each do |landmark|%>
<p>Landmark <%=landmark.id%> Name: <%=landmark.name%></p>
<br></br>
<p>Landmark <%=landmark.id%> Year Completed: <%=landmark.year_completed%></p>
<br></br>
<%end%>
