<h1>Landmark Name</h1>
<h2> Year Completed </h2>

<%@landmarks.each do |landmark| %>
  <li><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a></li>
  <label> Year Completed: </label>
  -- <%=landmark.year_completed%><br></br>
  <%end%>

  <br></br>

  <h1><a href="/landmarks"> Go Home </a></h1>
