<%@landmarks.each do |landmark| %>
 <ul>
    <li>
     <a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a>
     </li>
    <li>
     <%=landmark.year_completed%>
    </li>
 </ul>
<%end%>

<a class="button" href="landmarks/new">New LANDMARK HERE</a>
<a class="button" href="/figures">View Figures</a>