<h1>Below are a list of all current Landmarks:</h1>

<%Landmark.all.each do |land|%>
<p><a href="/landmarks/<%=land.id%>"><%=land.name%></a> - Year Completed: <%=land.year_completed%></p>

<%end%>

<br>
<a href="/landmarks/new">Create New Landmark</a>
