<h2>All Historical Landmarks</h2>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>

<% @landmarks.each do |landmark| %>
    <div>
        <a href="/landmarks/<%= landmark.id %>"><h4>Name: <%= landmark.name %></h4></a>
        <p>Year: <%= landmark.year_completed %></p>
    </div>
<% end %>
