<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% Landmark.all.each do |landmark| %>
  <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a> constructed in <%= landmark.year_completed %><br>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
