<%@landmarks.each do |landmark|%>
 Name: <a href="/landmark/<%=landmark.name%>"> <ul> Landmark: <%=landmark.name%> </ul></a>

 <br>

 Year Completed :<a href="/landmark/<%=landmark.year_completed%>"> <ul> Year_Completed: <%=landmark.year_completed%> </ul></a>

<%end%>
