<h1>Create Landmark</h1>

<form action="/landmarks" method="post">
  <label for="landmark_name">Lanmark Name</label><input type="text" id="landmark_name" name="landmark[name]"><br/>

  <label for="landmark_year_completed">Year Completed:</label><input type="number" id="landmark_year_completed" name="landmark[year_completed]"><br/>

  <button type="submit" value="submit">Create New Landmark</button>
</form>
