<!-- add content here -->
<form class="" action="/landmarks" method="post">
  <h2>Create New Landmark:</h2>
  <label>Name</label>
  <input type="input" name="landmark[name]" id="landmark_name">
  <label>Year</label>
  <input type="input" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
