<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <form method="POST" action="/landmarks">
    <h1>Create a New Landmark</h1>
    <lable>Name:</lable>
    <input type="text" name="landmark[name]" id="landmark_name">
    <lable> Year Completed:</lable>
    <input <input type="text" name="landmark[year]" id="landmark_year">
    <input type="submit" value="Create New Landmark">
  </form>
  </body>

</html>
