<h3>Create a new landmark</h3>
<form action = "/landmarks" method = "post">
  <label>Landmark name: </label>
  <input type="text" name="landmark[name]" id="landmark_name"><br>
  <label>Year completed :<label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
  <input type="submit" value="Create Name Landmark" name = "Create New Landmark" id="Create New Landmark">
</form>
