<h2>Create New Landmark</h2>
</br>
<form action="/landmarks" method="post">
<label for="landmark_name">Landmark Name: </label>
<input type="text" name="landmark[name]" id="landmark_name">
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
</br>

<h2>Figures</h2>
<% Figure.all.each do |figure| %>
<input type="checkbox" id="figure_<%= figure.slug %>" name="landmark[figure_ids][]" value="<%= figure.slug %>"><%= figure.name %></br>
<% end %>

<h2>Create New Figure </h2>
<label>Name: </label>
    <input type="text" name="figure[name]" id="new_figure">

<input type="submit" value="Create New Landmark">
</form>




<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
