<h1>Create New Landmark</h1>

<form method="POST" action="/landmarks">
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>

  <input type="submit" name="create" id="Create New Landmark">
</form>
