<h4>Create A New Landmark</h4>
<form class="" action="/landmarks" method="post">
  <input type="text" name="landmark_name" id="landmark[name]">
  <input type="text" name="landmark_year_completed" id="landmark[year_completed]">
  <button type="submit" name="Create New Landmark">Create New Landmark</button>
</form>