<h2>Create New Landmark</h2>
<form method="post" action="/landmarks">
  <label>Name:</label>
  <br></br>
  <input type="text" name="landmark[name]" id="landmark_name"></input>
  <br></br>
  <label>Enter the year Landmark was Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>
  <br></br>
  <label>Click here to create a new Landmark:</label>
  <input type="submit" value="Create New Landmark">
</form>

<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
