<h1>Create New Landmark</h1>

<form action="/landmarks" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="landmark_name" id="landmark[name]">
  <br></br>
  <label>Year Completed:</label>
  <br></br>
  <input type="text" name="landmark_year_completed" id="landmark[year_completed]">
  <br></br>

  <input type="submit" value="Create New Landmark">
</form>
