<form method="post" action="/landmarks">
    <label>Create New Landmark:</label>
    <br>
    <label>Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name">
    <label>Year:</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    <input type="submit" name="submit" value="Create New Landmark">
</form>
