<form action="/landmarks" method="post">

  <label for="landmark[name]">Create New landmark</label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <label for="landmark[year_completed]">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" name="" value="Create New Landmark">
</form>
