<h1>Create a New Landmark</h1>

<form class="" action="/landmarks" method="post">

  



  <label>Create New Landmark:</label></br>

  Name:<input type="text" name="landmark[name]" id="landmark_name">
  Year:<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Create New Landmark">

</form>
