<h1>Add a new Landmark:</h1>

<form action="/landmarks" method="POST">
  <h3><label for="landmark_name">Name</label></h3>
  <input id="landmark_name" type="text" name="landmark[name]" ><br>
  <h3><label for="landmark_year_completed">Year Completed</label></h3>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" ><br>
  <br>
  <input type="submit" value="Create New Landmark">
</form>
