
<h1>Add a New Landmark</h1>

<form action="/landmarks" method="POST">

    <h4>Create New Landmark:</h4>
    Name: <input type="text" id="landmark_name" name="landmark[name]">
    Year: <input type="text" id="landmark_year_completed" name="landmark[year_completed]">

    <input type="submit" value="Create New Landmark">
  </form>
