<form method=post action='/figures'>
  <label>Name:</label>
  <input type="text" name='figure[name]'>

  <h1> Titles </h1>
  <% Title.all.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>

  <h1> Create New Title:</h1>
  <input type="text" name="title[name]">


  <label> Landmarks </label>
  <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="landmark[name]" value="<%= landmark.id %>">
  <% end %>

  <h1> Create New Landmark:</h1>
  <label>Name</label>
  <input type="text" name='landmark[name]'>
  <label>Year</label>
  <input type="text" name='landmark[year_completed]'>
  <input type="submit" name="submit"Create New Figure>

  #figure[landmark_ids][]


</form>
