<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Create New Landmark</h2>
<form action='/landmarks' method="POST">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
</form>
</body>
</html>