<h1>Add New Landmark</h1>

<form action="/landmarks" method="post">
  <label>Name: </label>
  <input type="text" id="landmark_name" name="landmark[name]" ></input>

  <label>Year Completed: </label>
  <input type="integer" id="landmark_year_completed" name="landmark[year_completed]" ></input>

  <input type="submit" value="Create New Landmark">
</form>
