<h2>Create New Landmark</h2>

<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

<form action="/landmarks" method="post">
  <label>Name</label>
  <input type="text" name="landmark[name]" id="landmark_name"><br>

  <label>Year completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>

  <label>Select a figure:</label><br>
  <%@figures.each do |figure|%>
    <input type="checkbox" name="landmark[figure_ids][]" id="<%=figure.id%>" value="<%=figure.id%>"><%=figure.name%></input><br>
  <%end%>
  <label>or, create a new figure:</label>
  <input  type="text" name="figure[name]"></input><br><br>

  <input type="submit" value="Create New Landmark">

</form>
