
<!DOCTYPE html>
<html> 

<header> Create New Landmark</header>
<body>
  <form     method="post" action= "/landmarks">
    
    <label for="landmark_name"> Landmark Name:</label>
    <input type="text" name= "landmark[name]" id="landmark_name">
    
    <label for="landmark_year_completed"> Year Landmark Completed:</label>
    <input type="text" name= "landmark[year_completed]" id="landmark_year_completed">
    
      <input type="submit" id="submit" value="Create New Landmark">
    
  </form>
  
</body>
</html>

