<h2>Create New Landmark</h2>

<form action='/landmarks' method="POST">
  Landmark Name:
  <input type="text" name="landmark[name]" id="landmark_name">

  Landmark Year Completed:
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark">

</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
