<h1>Add New Landmark</h1>

<form action="/ladmarks" method="post">
  <label>Name: </label>
  <input type="text" id="new_landmark" name="landmarks[name]" ></input>

  <label>Year Completed: </label>
  <input type="integer" name="landmarks[year_completed]" ></input>

  <input type="submit" value="Create New Landmark"
</form>
