<h1>Create a New Landmark</h1>

<form action = "/landmarks" method="POST">
  <label>Figure Name:</label>
  <input id="landmark_name" type="text" name="figure[name]">

  <br></br>

  <label>Add Landmark:</label>
  <input id="new_landmark" type="text" name="landmark[name]">

  <br></br>

  <label>Add New Year Completed:</label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]">

  <br></br>

  <input type="submit" value="Create New Landmark">
</form>
