<form action="/landmarks" method="post">
<h2>Create New Landmark</h2>
<br></br>
<label>Landmark name:</label>
<input type="text" name="landmark[name]" id="landmark_name">
<br></br>
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
<input type="submit" value="Create New Landmark">

<br></br>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>

</form>
