<h2>Create New Landmark</h2>
<form method="POST" action="/landmarks">
  <label>Name: <input type="text" name="landmark[name]" id="landmark_name"></label>
  <label>Year: <input type="integer" name="landmark[year_completed]" id="landmark_year_completed"></label>

  <br>

  <h3>Select a Figure</h3>
  <% Figure.all.each do |figure| %>
    <%= figure.name + " " %><input type="radio" name="landmark[figure_id]" id="figure_<%= figure.id %>" value="<%= figure.id %>"><br>
  <% end %>

  <h3>Or, Create a New Figure</h3>
  <label>Name: <input type="text" name="figure[name]" id="new_figure"></label><br>

  <br>

  <input type="submit" id="Submit" value="Create New Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
