<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
    <p>Name: <input type="text" id="landmark_name" name="landmark[name]"></p><br></br>

    <p>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p><br></br>

    <input type="submit" value="Create New Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
