<!-- landmarks/new -->

<h1>Enter a New Landmark!</h1>
<h2>Fill out the form below:</h2>

<br>
<form action="/landmarks" method="post">
  <p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <br>

  <input type="submit" id="Create New Landmark" name="Create New Landmark" value="Create New Landmark">
</form>
