<h2> Add a new Landmark: </h2>

<form method="POST" action="/landmarks">
  <label> Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name"><br>
  <label> Year: </label>
  <input type="integer" name="landmark[year_completed]" id="landmark_year_completed"><br>

  <input type="submit" value="Create New Landmark">
</form>
