<h1>Create New Landmark</h1>

<form method="POST" action="/landmarks">
  <label><strong>Name:</strong></label><input type="text" name="landmark[name]" id="landmark_name">
  <label><strong>Year Completed:</strong></label><input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark">
 </form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
