<title><h1> Create a New Landmark</h1> </title>

<form action="/landmarks" method="post">
  <label> <h3>New Landmark: <input type="text" name=":landmark[name]" id="landmark_name" </h3> </label>
   <br> </br>
  <label> <h3> Year Completed: <input type="sting" name="landmark[year_completed]" id="landmark_year_completed" </h3> </label>
  <br> </br>

  <input type="submit" value="Create New Landmark">

</form>
