<form method="post" action="/landmarks/new">
  Name: <input type="text" name="landmark[name]" id="landmark_name">
  Year Built: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" id="Create New Landmark">
</form>
