<form action="/landmarks" method="post">
  <h3>Create a new landmark:</h3>

  <label>landmark Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]">
  <br>

  <label>Year Completed:</label>
  <input id="landmark_year_completed" type="integer" name="landmark[year_completed]">
  <br>

  <input type="submit" value="Create New Landmark">
</form>