<h1>Y'all.<br>
It's Time to Add a Landmark to the List.</h1>

<h3>Create a new Landmark below:</h3>

<form action="/landmarks" method="post">

  <h3><label>Name:</label></h3>
    <input type="text" name="landmark[name]" id="landmark_name"></input>

  <br>

  <h3><label>Year Completed:</label></h3>
    <input type="text" name="landmark[year_completed]" id="landmark_name"></input>

  <p><input type="submit" name="" value="Create New Landmark"></input></p>

</form>
