<h1>Create New Landmark</h1>
<form action="/landmarks/new" method="POST">

  <label>Name</label>
    <br></br>
<<<<<<< HEAD
      <input type="text" name="landmark[name]" id="landmark_name"></input>
=======
      <input type="text" name="landmark[name]"></input>
>>>>>>> 9c54679b442f9f17b56028f5bd3a05e7da494d3f

    <br></br>

    <label>Year</label>
    <br></br>
<<<<<<< HEAD
      <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>
=======
      <input type="text" name="landmark[year_completed]"></input>
>>>>>>> 9c54679b442f9f17b56028f5bd3a05e7da494d3f

    <br></br>

    <br></br>
      <input type="submit" value="Create New Landmark">

</form>
