<h2>Create New Landmark</h2>
<form action="/landmarks" method="post">
	<label for="landmark_name">
		Landmark name:
		<input type="text" id="landmark_name" name="landmark[name]">
	</label><br>
	<label for="landmark_year_completed">
		Year completed:
		<input type="text" id="landmark_year_completed" name="landmark[year_completed]">
	</label><br>



	<label for="Create New Landmark">
		<input type="submit" id="Create New Landmark" value="Create New Landmark">
	</label>	
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
