<h2>Create New Landmark</h2>

<!-- add content here -->

<form action="/landmarks" method="post">

  <label>Landmark Name:</label><br><br>

  <input type="text" id="landmark[name]" name="landmark_name" value=""><br><br>

  <label>Year Completed:</label><br><br>

  <input type="text" id="landmark[year_completed]" name="landmark_year_completed" value=""><br><br>

  <input type="submit" name="submit" value="Create New Landmark"><br><br>

</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
