
<form  action="/landmarks" method="POST">


  <h3>Create New Landmark</h3>
   <h3>Name of LandMark: <input type="text" name="landmark[name]" id="landmark_name" /> </h3>
   <h3>year_completed of LandMark: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></h3>


    <input type="submit" value="Create New Landmark">


</form>



  <!-- allows you to view form to create a new landmark (FAILED - 1)
  allows you to create a new landmark (FAILED - 2)
  allows you to list all landmarks (FAILED - 3)
  allows you to see a single landmark (FAILED - 4)
  allows you to view the form to edit a single landmark (FAILED - 5)
  allows you to edit a single landmark (FAILED - 6) -->
