<form action="/landmarks" method="POST">

  <!-- LANDMARK -->

  <label for="landmark_name">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name" placeholder="e.g. The Botanic Gardens">
  <br>
  <label for="year_completed">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="e.g. 1972">

  <br>
  <br>

  <button type="submit">Create New Landmark</button>
</form>
