<h2>Create Landmark</h2>

<form class="" action="/landmarks" method="post">
  <label for="">Name of landmark:</label>
  <input type="text" name="landmark[name]" value="" id="landmark_name"><br>
  <label for="">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">
  <br><br>
  <input type="submit" value="Create New Landmark">
</form>
