

<form method=POST action='/landmarks'>
  
  <input type='text' name='landmark[name]' value='landmark_name' id='landmark_name'>
  <input type='text' name='landmark[year_completed]' value='landmark[year_completed]' id='landmark_year_completed'>
  
  <input type='submit' name='submit' value='submit' id='submit'>
  
  
</form>


