<h2>Create A New Landmark</h2>

<form class="" action="/landmarks/show" method="post">
  <label for="landmark_name">Landmark Name</label>
  <input type="text" name="landmark[name]" value="" id="landmark_name">

  <label for="landmark_year_completed">Year Completed</label>
  <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">

  <input type="submit" name="" value="Create New Landmark">

</form>
