
<form method="POST" action="/landmarks">
<h2>Create New Landmark:</h2>
 <h4>Name: <input type="text" id="landmark[name]" name="landmark[name]"> </h4> <h4>Year: <input type="integer" name="landmark[year_completed]"> </h4>

<input type="submit" value="Create New Landmark">
</form>
