<h2>Create New Landmark</h2>

    <label>Name:</label>
    <input type="text" id="new_landmark" name="landmark[name]">
    <label>Year:</label>
    <input type="text" name="landmark[year_completed]">

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
