<h1>Add a new Landmark</h1>

<form action="/landmarks" method="POST">
  <label> Create new Landmark: </label></br>

  </br>

    Name: <input id="landmark_name" type="text" name="landmark[name]"> </br>
    Year: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"> </br>

  </br>

  <input type="submit" value="Create New Landmark">
</form>
