<!DOCTYPE html>
<html>
  <head>
    <title><h1> Create a New Landmark</h1> </title>
  </head>
    <body>
      <form action="/landmarks" method="post">
        <label> <h3> Create a New Landmark: <input type="text" name="landmark[name]" id="landmark_name"></h3></label>
        <label> <h3> Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"> </h3> </label>
       <input type="submit" value="Create New Landmark" id="submit">
      </form>
    </body>
  </html>
