<h2>Create New Landmark</h2>
<form action='/landmarks' method='POST'>
  <p>Landmark: <input type="text" id="landmark_name" name="landmark[name]"></p>
  
  <p>Year Completed: <input type='text' id="landmark_year_completed" type="text" name="landmark[year_completed]"</p>
    
  <input type='submit' value='Create New Landmark'>
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Home</a>
