<h1>Create a new Landmark</h1>
<form action="/landmarks" method="POST">
  <label for="landmark_name">Landmark Name: </label>

  <br></br>

  <input type="text" id="landmark_name" name="landmark[name]">

  <br></br>
  <label for ="landmark_year_completed">Year:</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">

  <input type="submit" value="Create New Landmark">
</form>

<h5><a href="/">Return to Home Page</a><h5>
