<h1>Create a New Landmark</h1>

<form action="/landmarks" method="post">
  <label>
    Name:
    <input type="text" name="landmark[name]" id="landmark_name">
  </label>
  <br>
  <label>
    Year Completed:
    <input type="integer" name="landmark[year_completed]" id="landmark_year_completed">
  </label>
  <input type="submit" value="Create New Landmark">
</form>
