<h1>Create New Landmark</h1>

<form action="/landmarks" method='POST'>
  <h3>Name of Landmark</h3>
  <label>Name: </label><input id='landmark_name' name='landmark[name]' type='text' /><br .>
  <h3>Year Completeed</h3>
  <label>Year Completed: <input type="text" id='landmark_year_completed' name='landmark[year_completed]' />

  <input type="submit" id="Create New Figure" value="Create New Landmark" />
</form>
