<h1>Create a new Landmark</h1>

<!-- Enter the landmark's name -->
<form action='/landmarks' method='POST'>
  <label>Landmark Name</label>
  <input type='text' name='landmark[name]' id='landmark_name'>

  <label>Year Completed</label>
  <input type='text' name='landmark[year_completed]' id='year_completed'>


  <!-- Choose the landmarks's different titles/create new -->
  <p><label>Landmarks</label>
  <% Landmark.all.each do |l| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= l.name %>" id="landmark_<%= "#{l.id}"%>">
  <% end %> </p>

  <p><input type='submit' value='Create New Landmark'></p>
</form>
