<h1>New Landmark Form</h1>

<!-- expect(page.body).to include('<form')
expect(page.body).to include('landmark[name]')
expect(page.body).to include('landmark[year_completed]') -->

<form action="/landmarks" method="post">
  <p><strong>Landmark Name:</strong> <input type="text" id="landmark_name" name="landmark[name]"></p>
  <p><strong>Landmark Year:</strong> <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>
