<!DOCTYPE html>
<html>
  <head>
    <title><h1> Create a New Landmark</h1> </title>
  </head>
    <body>
      <form action="/landmarks" method="post">
        <br> </br>
        <label> <h3> Create a New Landmark:<input type="text" name="landmark[name]" id="new.landmark"></input></h3></label>
        <br> </br>
        <label> <h3> Year Completed: <input type="text" name="landmark[year_completed]" id="landmark.year_completed"> </h3> </label>
        <br> </br>
       <input type="submit" value="Create New Landmark" id="submit"
      </form>
    </body>
  </html>
