</h3>Create a Landmark</h3>
<form method="POST" action="/landmarks">
  Name: <input type="text" name="landmark[name]" id="landmark_name">
  Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>
  <input type="submit" value="Create New Landmark">
</form>
