<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
    <th>Figure</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
    <td><%= @landmark.figure.nil? ? "None" : @landmark.figure.name%></td>
  </tr>
<table>


<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
