<h1><%= @landmark.name %></h1>
<h3>Year Completed:</h3>
<ul>
  <li><%= @landmark.year_completed %></li>
</ul>

<h3>Figure:</h3>
<ul>
  <li><%= @landmark.figure.name %></li>
</ul>

<form class="" action="/landmarks/<%= @landmark.id %>/edit" method="get">
  <input type="submit" name="edit" value="Edit Landmark">
</form>
