<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <form>
        <label> <h3>Landmark Name:  <%= @new_landmark %> </h3> </label>
        <label> <h3>Year Completed: <%= @landmark.year_completed %> <:/h3> </label>
      </form>
    </body>
</html>
