
<form action="/figures/<%=@figure.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h2>Name:</h2>
  <input type="text" id="name" name="figure[name]" value="<%= @figure.name %>">
  <h2>Landmark:</h2>
  <input type="text" id="new_landmark" name="figure[title_ids]" value="<%= @figure.year_completed %>">
  <p></p>
  <input type="submit" value="Edit Figure">
</form>
