<h1>Edit <%= @figure.name %></h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Figure Name</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">
</form>
