<h1>Listing all Figures</h1>

<% if @figures.length == 0 %>
"Not working!!!"
<% end %>

<ol>
<% @figures.each do |figure| %>
  <li><a href='/figures/<%= figure.id %>'><%= figure.name %></a></li>
<% end %>
</ol>
