<h2>All Historical Figures</h2>

<ul>
  <% Figure.all.each do |figure| %>
    <li><a href="/figures/<%= figure.id %>"><%= figure.name %></a></li><br>
  <% end %>
</ul>

<a class="button" href="/">Home</a>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/figures/new">Create a New Figure</a><br>
