<h2> List of Figures </h2>

<ul>
    <%@figures.each do |figure|%>
    <li><a href="/figures/<%=figure.id%>"><%=figure.name%></li> 
    <%end%>
</ul>
<a href="/figures/new"><input type="button" value="Create New Figure"></a>