<h1>Historical Figures Index Page</h1>
<h3>-select a historical figure below to learn more-</h3>

<% @figures.each do |figure| %>
  <a href="/figures/<%=figure.id%>"> <%= figure.name %> </a>
  <br></br>
<% end %>

<h3>-or click <a href="figures/new">here</a> to create a new historical figure-</h3>
