<h2>All Historical Figures</h2>

<%@figures.each.with_index do |figure, index|%>
  <b><%=index+1%>. <%=figure.name%></b> </br></br>
<%end%>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>