<h1>List of Figures</h1>
<% @figures.each do |figure|%>
<ul> Figure: <a href="/figures/<%= figure.id %>"><%= figure.name %></ul>
<%end%>


<a href="/figures/new">Create new figure</a>
<br></br>
<a href="/landmarks">Go to landmarks</a>
