<h2>All Historical Figures</h2>
  <ol>
    <%@figures.each do |figure|%>
    <li>
      <a href="/figures/<%=figure.id%>">
        <%=figure.name%>
      </a>
    </li>
      <%end%>
  </ol>


<a href="/figures/new">Create New Figure</a>
