<h2>Person Name</h2>
<% @figures.each do |figure| %>
  <label><a href="/figures/<%= figure.id %>"><%= figure.name %></a></label>
    <br>
<% end %>

<a class="button" href="figures/new">Create New Figure</a>
<a class="button" href="/landmarks">View Landmarks</a>
<a class="button" href="/">Home</a>
