<h2>All Historical Figures</h2>

<!-- add content here -->
<!-- <a class="button" href="/landmarks/new">Create A New Landmark</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a> -->
<% Figure.all.each do |figure| %>
<h2>Name: <a href="/figures/<%= figure.id %>"><%= figure.name %></a></h2>
<% end %>
