<h1>Create New Figure:</h1>

<form action="/figures" method="POST">
  <label>New Figure Name:</label><br>
  <input type="text" name="figure[name]" value="figure_name"><br>

  <label>Select Title:</label><br>
  <%@titles.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" id="" value="">
  <%end%>

<label>or, Create new Title:</label>
<input type="text" name="title[name]" value="">

  <input type="submit" value="Create New Figure">


</form>
