<h1>Create a new figure</h1>
<form method="post" action="/figures">
  <label for="figure_name">Figure Name</label>
  <input type="text" name="figure_name" id="figure_name">
  <br>
  <label for="landmarks">Landmarks</label>

  <input type="submit" value="Submit">

</form>
