

<form method=POST action='/figures'>
  
  <input type='text' name='figure[name]' value='figure_name' id='figure_name'>
  
  <input type='text' name='landmark[name]' value='landmark_name' id='landmark_name'>
  
  <input type='text' name='landmark[year]' value='landmark_year' id='landmark_year'>
  
  <input type='text' name='title[name]' value='title_name' id='title_name'>
  

  
  <input type='submit' value='submit' id='submit'>
  
  
</form>


    <!--expect(page.body).to include('<form')-->
    <!--expect(page.body).to include('figure[name]')-->
    <!--expect(page.body).to include('figure[title_ids][]')-->
    <!--expect(page.body).to include('figure[landmark_ids][]')-->
    <!--expect(page.body).to include('landmark[name]')-->
    <!--expect(page.body).to include('title[name]')-->