<h1>Create a New Figure</h1>

<form action='/figures' method="POST">

  <p>Name: <input type="text" id="figure_name" name="figure[name]"></p>
  <br>


    <input type="submit" value="Create New Figure"></input>
  
</form>
