<form action="/figures" method="post">
<h1>Create a new Figure:</h1>
<h2>Name of Figure:</h2>
<p><input type="text" id="figure_name" name="figure[name]"></p>
<h2>Titles</h2>
<% Title.all.each do |t| %>
<input type="checkbox" name="figure[name][title]" id="title"><%= t.name%></input>
<% end %>
<h2>Create New Titles:</h2>
<input type="text" name="figure[name][title]" id="new_title">
<h2>Landmarks</h2>
<% Landmark.all.each |l| %>
<input type="checkbox" name="figure[name][landmark]" id="landmark"><%= l.name%></input>
<% end %>
<h2>Create New Landmark:</h2>
<p>Name: <input type="text" name="landmark" id="new_landmark"></p>
<p>Year: <input type="text" name="" id="year"></p>
<p><input type="submit" value="Create New Figure"></p>
</form>
