<h2>Create New Figure</h2>

<div class="figure">
  

</div>

<div class="titles">

</div>

<div class="landmarks">

</div>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
