<h2>Create New Figure</h2>

<!-- add content here -->
<!-- Create form -->
<form action="/figures" method="post">
<!-- New figure  -->
  <label>Create a New Figure:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br>
  <br>
<!-- checkboxes, select existing title -->
  <label>Select An Existing Title:</label>
  <br>
  <% Title.all.each do |title| %>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]"  value="<%= title.id %>">
    <br>
  <% end %>
  <br>
<!-- create new title -->
  <label>Or Create a New Title:</label>
  <input type="text" name="title[name]" id="new_title">
  <br>
  <br>
<!-- checkboxes, select a landmark -->
  <label>Select An Existing Landmark:</label>
  <br>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <br>
  <% end %>
  <br>
<!-- create new landmark -->
  <label>Or Create a New Landmark:</label>
  <br>
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  <br>
  <br>
<!-- submit button -->
  <input type="submit" name="Create New Figure" value="Create New Figure">
</form>
<br>
<br>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
