<h1>Create New Figure:</h1>

<form action="/figures/new" method="POST">
  <p>
    <label>Figure Name:</label>
    <input id="figure_name" type="text" name="figure[name]" />
  </p>

  <p>
    <label>Select existing titles:</label>
    <% @titles.each do |t| %>
      <input id="title_<%= t.id %>" type="checkbox" name="figure[title_ids][]" value="<%= t.id %>"><% t.name %></input>
    <% end %>
    <br />
    <label>Or, create new title:</label>
    <input type="text" name="title[name]" />
  </p>

  <p>
    <label>Select existing landmark:</label>
    <% @landmarks.each do |l| %>
      <input id="<%= l.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= l.id %>"><% l.name %></input>
    <% end %>
    <br />
    <label>Or, create new landmark:</label>
    <input type="text" name="landmark[name]" />
  </p>

  <input type="submit" value="Create New Figure">
</form>
