<h1><%= @figure.name %> Display Page</h1>

<h2>Figure Title(s):<h2>
<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>

<h2>Figure Landmark(s):</h2>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>
