<h1><%=@figure.name%></h1>
<br></br>

<h2>Title</h2>
<ul>
  <% @figure.titles.each do |title| %>
  <li>
    <%=title.name%>
  </li>
  <%end%>
</ul>

<h2>Landmarks</h2>
<ul>
  <% @figure.landmarks.each do |landmark| %>
  <li>
    <%=landmark.name%>
  </li>
  <%end%>
</ul>