<h1><%= @figure.name %></h1>

<ul>
 <% @figure.landmarks.each do |landmark| %>
    <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name  %></a></li>
<% end %>
</ul>

<p></p>

<a href="/figures/<%=@figure.id%>/edit">Edit this figure</a>
