<h1>Show page for Figures</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Titles</th>
    <th>Landmarks</th>
  </tr>

  <tr>
      <td>
        <a href="/figures/<%=@figure.id%>"><%= @figure.name %>
        </a>
     </td>

    <td><%= @figure.titles %></td>
    <td><%= @figure.landmarks %></td>

  </tr>

<table>
