<table>
  <tr>
    <th>Figure Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>

  <tr>
    <th>Figure's Landmark Names</th>
  </tr>
  <tr>
    <% @figure.landmarks.each do |landmark|%>
      <td><%= landmark.name %></td>
    <%end%>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Landmark</a>
<br>
<a class="button" href="/figures">Landmarks</a>
