<table>
  <tr>
    <th>Figure Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>

    
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Landmarks</a>
