<%= @figure.name %><br>
<br>
<label>Titles:</label><br><br>
<% @figure.titles.each do |t| %>
    <%= t.name %>
    <% end %><br>
<label>Landmarks:</label><br><br>
<% @figure.landmarks.each do |l| %>
    <%= l.name %><br>
    <% end %>
    
<a href="/figures/<%= @figure.id %>/edit">Edit</a>