<h1><%= @figures.name %></h1>
<label>Titles:</label>
<ul>
  <% @figures.titles.each do |title| %>
  <li><%= title.name %></li>
  <%end%>
</ul>
<br>
<label>Landmarks:</label>

<ul>
  <% @figures.landmarks.each do |landmark| %>
  <li><%= landmark.name %></li>
  <%end%>
</ul>
<br>
<a href="/figures/<%= @figure.id %>/edit"><input type='button' value='Edit'></a>
