<h1><%= @figure.name %></h1>
<h2>Titles</h2>
<% if !@figure.titles.empty? %>
  <% @figure.titles.each do |title| %>
    <ul>
      <li><%= title.name %></li>
    </ul>
  <% end %>
 <% else %>
   <p>N/A</p>
<% end %>
<h2>Landmarks</h2>
<% if !@figure.landmarks.empty? %>
  <% @figure.landmarks.each do |landmark| %>
    <ul>
      <li><%= landmark.name %></li>
    </ul>
  <% end %>
 <% else %>
   <p>N/A</p>
<% end %>
<br />
<br />
<a href="/figures/<%= @figure.id %>/edit"><input type="submit" value="Edit Figure" /></a>
