
<%= @figure.name %>

<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>

<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
