<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <form>
      <h3><label> Figure Name: </label> </h3> <%=@figure.name %>
      <br> </br>
      <h3><label> Title name: </label>
      </h3><h3><%=@title.name%></h3>
      <br> </br>
      <h3><label> Landmark: </label> </h3>
      <h3> <%=@landmark.name %></h3>
      <form>
    </body>
</html>
