<h1><%= @figure.name %></h1>
 <p>Titles</p>

  <% @figure.titles.each do |title| %>
    <%= title.name %>
    <% end %>
    <br>
   <p>Landmarks</p>
    <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
    <% end %>
    <br>


<a href="/figures/<%= @figure.id %>/edit"><input type="button" value="Edit"></a>
