<h1><%=@figure.name%></h1>

<h2>Title(s)</h2>
<% @figure.titles.each do |title| %>
  <li><%=title.name%></li>
<%end%>

<h2>Landmark(s)</h2>
<% @figure.landmarks.each do |landmark| %>
  <li><%=landmark.name%></li>
<%end%>
