<h3>Figure: <%=@figure.name%></h3>

<h4>Titles</h4>
<%@figure.titles.each do |title|%>
<ul>
  <li><%=title.name%></li>
</ul>
<%end%>

<h4>Landmarks</h4>
<%@figure.landmarks.each do |landmark|%>
<ul>
  <li><%=landmark.name%></li>
</ul>
<%end%>
