<h2><%= @figure.name %></h2>

<% @figure.landmarks.each do |landmark| %>
<h2>Landmarks: <%= landmark.name %></h2>
<% end %>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
