<h1> Figure Details </h1>

<h2> Figure Name: <%= @figure.name %>

<h3> Figure Titles: <% @figure.titles.each do |t| %>
                    <%= t.name %>,
                    <% end %>

<h3> Figure Landmarks : <% @figure.landmarks.each do |l| %>
                        <%= l.name %>, 
                        <% end %>

                        