<h1><%= @figure.name %></h1>

<p>
  Titles:
  <% @figure.titles.each do |t| %>
  <ul>
    <li><%= t.name%>
  </ul>
    <% end %>
</p>

<p>
  Landmarks: <% @figure.landmarks.each do |l| %>
    <ul>
      <li><%= l.name%>
    </ul>
  <% end %>
</p>

<p>
  <form action="/figures/<%=@figure.id%>/edit" method='GET'>
    <input type='submit' value='Edit Figure'>
  </form>
</p>
