<h1><%= @figure.name %></h1>

<p>Titles: </p>
<ul>
  <% @figure.titles do |title| %>
    <li><%= title.name %></li>
  <% end %>
</ul>

<p>Landmarks: </p>
<ul>
  <% @figure.landmarks do |landmark| %>
    <li><%= landmark.name %></li>
  <% end %>
</ul>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a> |
<a class="button" href="/figures">Figures</a>
