<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>
</table>

  <ul>
    <% @figure.landmarks.each do |landmark| %>
        <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></li>
    <% end %>
  </ul>