<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
    <th>Titles</th>
  </tr>
  <tr>
    <td><%= @new_figure.name %></td>
    <% @new_figure.landmarks.each do |landmark| %>
    <td><%=landmark.name%></td>
    <%end%>
    
    <% @new_figure.titles.each do |title| %>
    <td><%=title.name%></td>
    <%end%>

  </tr>
<table>


