
<form  action="/figures/new" method="post">

  <input type="text" name="figure_name">
  <input type="text" name="figure title name" >
  <input type="text" name="figure landmark_ids" >
  <input type="text" name="figure landmark_name" >
  <input type="text" name="title_ name" >

</form>
<!-- # visit '/figures/new'
# expect(page.body).to include('<form')
# expect(page.body).to include('figure[name]')
# expect(page.body).to include('figure[title_ids][]')
# expect(page.body).to include('figure[landmark_ids][]')
# expect(page.body).to include('landmark[name]')
# expect(page.body).to include('title[name]') -->

<!-- 
How you test for your work...

rspec spec/figures_controller_view_spec.rb -->
