<h1>NYC Sinatra Lab</h1>
<a style="color: blue; font: bold 14px Arial;" href="/figures">Historical Figures</a>
<br></br>
<a style="color: green; font: bold 14px Arial;"href="/landmarks">Landmarks</a>


