<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NYC Landmarks</title>
  </head>
  <body>
<h1>NYC Landmarks</h1>
<a href="/landmarks">Landmarks</a>
<a href="/figures">Figures</a>
  </body>
</html>
