<h1>Welcome to Sinatra NYC</h1>

<h2>Select from options below:</h2>
<ul>
  <h3>NYC Landmarks:</h3>
  <li><a href="/landmarks/new">Create new landmark</a></li>
  <li><a href="/landmarks">View Landmarks</a></li><br><br>
  <h3>NYC Figures:</h3>
  <li><a href="/figures/new">Create new figure</li>
  <li><a href="/figures">View Figures</a></li>
</ul>
