<h1>Welcome to NYC's Ye Olde Webbsite</h1>
<p>Explore important figures and landmarks from New York's history.</p>

<figure>
  <img alt="Times Square, November 8, 1953" src="https://i.imgur.com/7mxwWY4.jpg" style="max-width: 100%; min-height: 522px; opacity: 1; border: 2px solid black;">
  <figcaption>Times Square, November 8, 1953</figcaption>
</figure>