<h1><font color="blue">Welcome to NYC History Site Builder</font></h1>

<h3>****Menu****</h3>
<ul>
<li> To view the list of figures go <a href="/figures">here</a></li>
<li> To view the list of landmarks go <a href="/landmarks">here</a></li>
<li> To build a figure go <a href='/figures/new'>here</a></li>
<li> To build a landmark go here <a href='/landmarks/new'>here</a></li>
</ul>
