
<form action="/figures" method="get">
<input type="submit" id="forward_to_figure_list" value="See Figures">
</form>

<form action="/landmarks" method="get">
<input type="submit" id="forward_to_landmark_list" value="See Landmarks">
</form>
