<h1>Welcome to Sinatra NYC</h1>

<h3>Select from options:</h3>
<ul>
  <li><a href="/landmarks/new">Create new landmark</a></li>
  <li><a href="/landmarks">View Landmarks</a></li>
  <li><a href="/figures/new">Create new figure/a></li>
  <li><a href="/figures">View Figures</a></li>
</ul>
