<h2>Welcome to NYC Figures</h2>

<p><a href="/figures">Show all Figures</a></p>
<p><a href="/landmarks">Show all Landmarks</a></p>

<p><a href="/figures/new">Add a new Figure</a></p>
<p><a href="/landmarks/new">Add a new Landmark</a><p>
