<!DOCTYPE html>
<html>
  <head>
    <!--
     Frank Sinatra

  "The old crooner himself:"
       QB"   .  . ....^FBQQBQBQ
       #^   ..../,, ,/yyBQBDBt`"B
     B"  ._L_yQ&Qy&&QQBQQDlL;S; (Q
    B^   /DQQQBQQQQQQBQBDQQD1:   "B
   Q~   ,GQBDQDQQQQQQBBQQDQ&EC    7B
   D    lQQQQQBQBQQQQQQQQBBID('    {
   E   .iDDBQQBQQQQBBBQBQQDQ1!:    (
   3   .(BQBBQBBQQQQBBQBBBDBS'     }                     I'm
   Q   '~~<MMBQQBBQBP"""<BD1EL.    Q                   dreaming
   Q    LuL `7QBBB?../LL;.!JDL     Q                    of a
  "  ,  ,__&L.DBBEEL1L_,'EylEE!  ,U                     white
  1 :s&yyQQQ6-DQBBQ&QQQQQQQQJY!  lyB1Q                Christmas.
  S  ?DDQQBD'.QQBDQDBQBQQQDD1<  LIQDG
  Q   j8BQE2 LQQBE9EBBEBQQES{! /BQSE
   Q_ 'TS7L  <#P~^,G1?TXC3({!  3PEy
    Q, ,_>'.,___yBD1DU;,'('''  yQ
     L "Qy,  'IIIZl',L/&;!;:  LQ
     Q; FD(  (`IE2L/QDB&lY!   6Q
      Q, (/. `!?"21iQDU&/~   L FB
       Q_ (EL/&&QDBQBDJ"   ,y^  `FB
        Qy 75EEBBQESf`   _yB^      "M
        Q7  `'^""~`   _yQQM'         `"FQ
        F;         _yQQQQF              Q
  -->
  
    <title>Ye Olde Webbsite</title>
    <!-- couldn't get link tag to work properly -->
    <link href="<%= url('/public/stylesheets/style.css') %>" rel="stylesheet" type="text/css" >
    <style>
      
/* button styling */
button {
  background: #ddd;
}

/* th, table styling */
table, th {
  max-width: 100%;
  padding: 5px;
  text-align: center; 
  border: 1px solid black;
}

/* navbar styling */
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  float: left;
  background: #ddd;
  border: 1px solid black;
}

#navbar ul li a {
  display: inline-block;
  padding: 8px;
  color: black;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #111;
  color: white;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
    </style>
    
  </head>
  <body>
    <%= erb :'layouts/_header' %>
    <%= yield %>
    <br><br><br>
    <%= erb :'layouts/_footer' %>
  </body>

</html>
