<!DOCTYPE html>
<html>
  <head>
    <style>
      form > p > label, .inline-list {
        padding: 2px 4px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
