<head>
  <nav id="navbar">
    <ul class="clearfix">
      <li><a href="/">Home</a></li>
      <li><a href="/figures">Historical Figures</a></li>
      <li><a href="/figures/new">Create New Figure</a></li>
      <li><a href="/landmarks">Historical Landmarks</a></li>
      <li><a href="/landmarks/new">Create New Landmark</a></li>
    </ul>
  </nav>
</head>